@font-face{
font-family: 'SFUI-Display-Black';
src:url('../Fonts/SF-UI-Display-Black.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Bold';
src: url('../Fonts/SF-UI-Display-Bold.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Heavy';
src: url('../Fonts/SF-UI-Display-Heavy.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Light';
src: url('../Fonts/SF-UI-Display-Light.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Medium';
src: url('../Fonts/SF-UI-Display-Medium.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Regular';
src: url('../Fonts/SF-UI-Display-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Semibold';
src: url('../Fonts/SF-UI-Display-Semibold.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Thin';
src: url('../Fonts/SF-UI-Display-Thin.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'SFUI-Display-Ultralight';
src: url('assets/Fonts/SF-UI-Display-Ultralight.ttf');
font-weight: normal;
font-style: normal;
}
body {
	background: white;
	font-family: 'SFUI-Display-Black';
	display: block;
}
.numbfont1 {
	font-family: "SFUI-Display-Ultralight";
}
.navfont {
	font-family: "SFUI-Display-Thin";
	font-size: 20px;
}
.header {
	/* Style for "Header" */
/* Style for "White head" */
width: 100%;
height: 111px;
padding: 20px 55px;
}
.backgroungheader {
	/* Style for "Background" */
width: 100%;
height: 500px;
background-color: #ffffff;
display: flex;
align-self: center;
justify-content: space-between;
} 
.container {
  width: 100%;
  height: 110px;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
 /*Header*/
 /* Style for "Header" */
header {
width: 2018px;
height: 217px;

}

.phoneicon {
	/* Style for "Phone icon" */
width: 203px;
height: 70px;
line-height: 600%;
display: inline;
align-self: center;
position: absolute;
text-align: center;
margin-left: 50px;
}

/*juventa*/
.juventa {
/* Style for "JUVENTA  T" */
width: 203px;
height: 70px;
color: #000000;
font-family: "SFUI-Display-Black";
font-size: 48px;
font-weight: 500;
line-height: 35.97px;
text-transform: uppercase;
display: inline;
/* Text style for "JUVENTA  ," */
letter-spacing: -2px;
}

/* Style for "Заказать з" */
.call{
width: 165px;
height: 15px;
color: #000000;
font-family: "SFUI-Display-Black";
font-size: 18px;
font-weight: 500px;
line-height: 200%;
text-transform: uppercase;
display: inline;
align-self: center;
/* Text style for "З, аказать" */
letter-spacing: -0.18px;
    /* Style for "button" */

}

/* Style for "Background" */
.mainbackgr {
/* Style for "Main_banne" */
background: url(assets/images/Main_banner1.png);
width: 100px;

height: 582px;
display: inline;
}
.block {
    background: url(images/bg_left.gif) repeat-y,
                #fff url(images/bg_right.gif) repeat-y 100% 0; 
    padding: 10px; /* Поля вокруг текста */
 }
.number {
	/* Style for "(+ 3 8012)" */
width: 100%;
height: 16px;
color: #000000;
font-family: "SFUI-Display-Black";
font-size: 18px;
font-weight: 400;
line-height: 400%;
font-variant: small-caps;
display: inline;
align-self: center;
position: absolute;
text-align: center;
}
.number1 {
/* Text style for "(, + 3 801" */
font-family: "SFUI-Display-Thin";
font-weight: 300;
letter-spacing: -0.18px;
display: inline;
align-self: center;

text-align: center;
}
.number2 {
/* Text style for "22 - 33 -" */
font-family: "SFUI-Display-Black";
font-weight: 600;
letter-spacing: -0.18px;
display: inline;
align-self: center;

text-align: center;
}
.blockForImg img{
width:100%;
height:100%;
}
.button {
width: 247px;

height: 42px;

border: 3px solid #000000;
display: inline;
float: right;
color: #000000;
font-family: "SFUI-Display-Black";
font-size: 18px;
font-weight: 500px;
line-height: 250%;
text-transform: uppercase;
text-align: center;

}
.textcenter {
	text-align: center;
}
input { 
    text-align: right; 
}
p.small {
  line-height: 0.8;
}
.backheader {
	/* Style for "blackheade" */
width: 100%;
height: 109px;
background-color: #000000;
border-image: url(assets/images/blackheader_backround.jpg);
opacity: 0.55;
}
.transparent50 {
    filter: alpha(Opacity=100);
    opacity: 0.5; 
   }
.nav_link {
	color: #fff;
	text-decoration: none; 
	display: inline;
	font-family: 'SFUI-Display-Thin';
}
.nav_link:hover {
	color: #ffa500;
}
.nav {
	font-size: 14px;
	text-transform: uppercase;
}
.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: inline;
  font-family: 'SFUI-Display-Thin';
  text-align: center;
}
.navbar li { display: inline;}
.navsearch {
	/* Style for "Поиск туро" */
width: 150%;
height: 14px;
color: #ffffff;
font-family: "SFUI-Display-Thin";
font-size: 32px;
font-weight: 300;
line-height: 250%;
text-transform: uppercase;
/* Text style for "Поиск туро" */
letter-spacing: -0.18px;
}
.greenline {
	/* Style for "Green line" */
width: 196px;
height: 7px;
line-height: 550px;
position: absolute;
margin-left: 285px;
}
.aboutus {
	/* Style for "О НАС" */
width: 356px;
height: 89px;
color: #ffffff;
font-family: 'SFUI-Display-Semibold';
font-size: 120px;
font-weight: 400;
line-height: 48px;
font-variant: small-caps;
/* Text style for "О,  НАС" */
letter-spacing: -1.2px;
position: absolute;
margin-left: 285px;
bottom: 60%;
}
.part1 {
/* Style for "white_back" */
width: 1920px;
height: 2000px;
position: absolute;
}
.greenline1 {
	/* Style for "Green line" */
width: 196px;
height: 7px;
line-height: 200px;
position: absolute;
margin-left: 295px;
}
.part1text {
	/* Style for "Туристичес" */
width: 100%;
height: 100%;
color: #000000;
font-family: 'SFUI-Display-Regular';
font-size: 35px;
font-weight: 400;
font-variant: small-caps;
margin-left: 295px;
position: absolute;
overflow-x:hidden;
/* Text style for "Туристичес" */
letter-spacing: -1.2px;
}
.part11 {
/* Style for "white_back" */
width: 1920px;
height: 2000px;
position: absolute;
line-height: 300%;
margin: 200px 10px;
}