body {
	background: white;
	font-family: 'SFUI Display';
}

@font-face{

font-family: 'SF-UI-Display-Black';

src: url('assets/Fonts/SF-UI-Display-Light.ttf');

font-weight: normal;

font-style: normal;

}
.header {
	/* Style for "Header" */
/* Style for "White head" */
width: 100%;
height: 111px;
padding: 20px 55px;
}

.backgroungheader {
	/* Style for "Background" */
width: 100%;
height: 500px;
background-color: #ffffff;
display: flex;
align-self: center;
justify-content: space-between;
} 

.container {
  width: 100%;
  height: 110px;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

 /*Header*/
 /* Style for "Header" */
header {
width: 2018px;
height: 217px;

}

.phoneicon {
	/* Style for "Phone icon" */
width: 203px;
height: 70px;
line-height: 35.97px;
display: inline;
align-self: center;
position: absolute;
}

/*juventa*/
.juventa {
/* Style for "JUVENTA  T" */
width: 203px;
height: 70px;
color: #000000;
font-family: "SF-UI-Display-Black";
font-size: 48px;
font-weight: 500;
line-height: 35.97px;
text-transform: uppercase;
display: inline;
/* Text style for "JUVENTA  ," */
letter-spacing: -2px;
}

/* Style for "Заказать з" */
.call{
width: 165px;
height: 15px;
color: #000000;
font-family: "SFUI Display";
font-size: 18px;
font-weight: 500px;
line-height: 29.98px;
text-transform: uppercase;

display: inline;
float: right;
align-self: center;
/* Text style for "З, аказать" */
letter-spacing: -0.18px;
    /* Style for "button" */

}

/* Style for "Background" */
.mainbackgr {
/* Style for "Main_banne" */

width: 100px;

height: 582px;
display: inline;
}
.number {
	/* Style for "(+ 3 8012)" */
width: 187px;
height: 16px;
color: #000000;
font-family: "SFUI Display-emibold";
font-size: 18px;
font-weight: 400;
line-height: 29.98px;
font-variant: small-caps;
/* Text style for "(, + 3 801" */
font-family: "SFUI Display";
font-weight: 300;
letter-spacing: -0.18px;
/* Text style for "22 - 33 -" */
font-family: "SF UI Display";
font-weight: 600;
letter-spacing: -0.18px;
}
.blockForImg img{
width:100%;
height:100%;
}
.button {
width: 247px;

height: 42px;

border: 3px solid #000000;
display: inline;
float: right;
color: #000000;
font-family: "SFUI Display";
font-size: 18px;
font-weight: 500px;
line-height: 29.98px;
text-transform: uppercase;
}
.textcenter {
	text-align: center;
}
input { 
    text-align: right; 
}
p.small {
  line-height: 0.8;
}